import type { NextPage } from 'next';
import { useRef } from 'react';
import styles from './{{pascalCase componentName}}.module.scss';
import { setupTransitionInTimeline, setupTransitionOutTimeline } from './{{pascalCase componentName}}.transitions';
import { usePageTransition } from 'util/react-transition-component/hooks/usePageTransition';

type {{pascalCase componentName}}PageProps = {};

const {{camelCase componentName}}Page: NextPage<{{pascalCase componentName}}PageProps> = () => {
  const elementRef = useRef<HTMLDivElement | null>(null);

  usePageTransition({
    beforeTransitionIn: (release) => {
      release();
    },
    crossFlow: ()=> false,
    setupOptions: () => ({
      ref: elementRef,
      refs: {
        elementRef,
      },
      setupTransitionInTimeline,
      setupTransitionOutTimeline,
    }),
  });

  return (
    <div ref={elementRef} className={styles.{{camelCase componentName}}Page}>
      {{camelCase componentName}}
    </div>
  );
};

export default {{camelCase componentName}}Page;
