import styles from './{{pascalCase componentName}}Page.module.scss';

// type {{pascalCase componentName}}PageProps = {};

export default async function {{camelCase componentName}}Page() {
  return (
    <div className={styles.{{camelCase componentName}}Page}>
      {{camelCase componentName}}
    </div>
  );
};
